 body{
  background-color:##eee;
  font-family: Helvetica, Arial, sans-serif;
  border: 2px solid #ffd24a;
  line-height: 1.6;
  margin:0;
}

.main_navigation a{
  border:1px solid;
  border-radius: 4px;
  padding: 5px 20px 5px 20px;

}
.main_navigation{
  margin-left: 20px;
  margin-top: 15px;
}
h2{
  color:#1fabe5;
}

h3{
  color:#1fabe5;
}

header{
  background: #ff8523;
  padding-top: 20px;
  padding-bottom: 30px;
  min-height: 110px;
  width: 100%;
}

header a{
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  margin-top: 20px;
}

table {
    border-collapse: collapse;
}

table td {
    border: 1px solid #1fabe5;
    padding: 10px;
}

ul{
    font-weight: bold;
}
div #page_content{
  padding: 20px;
}

hr{
border: 2px solid #eee;
margin-top: 30px;
}

table thead {
	background-color:#1fabe5;
	color: #ffffff;
}

table tbody tr td img{
	height:25%;
}

table thead td{
  border: 1px solid #046c97;
}

.name{
  border: solid #ff8533;
  background-color: #ff8533;
  color: #ffffff;
  border-radius: 4px;
  margin: 20px;
  padding: 15px;
}

form {
	background: #eee;
  padding-top: 5px;
  border-radius: 4px;
}

.city_container{
  padding: 20px;
}

.why{
  padding-left: 20px;
}

.submit_container{
  padding-left: 20px;
  padding-bottom: 15px;
}

.why textarea{
  border-color: #1fabe5;
  font-size: 12pt;
  padding: 5px;
}

.submit_container input{
  background: #1fabe5;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  padding: 10px;
  text-transform: uppercase;
}

/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6



colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/
